body{
    background-image: url(../picture/headphones.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(154, 103, 144, 0.5);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #575757;
}

.content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    margin-left: 250px;
}

.concept{
    margin-top: 50px;
    margin-bottom: 50px;
}